/* 전체 */
    * {
    margin: 0;
    padding: 0;
    font: normal 12px '고딕';
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}

#admin-wrapper {
    width: 100%;
    height: auto;
}

/* ­헤더 */
header {
    width: 100%;
    height: 120px;
    background: url('../img/admin_bg_header.jpg') repeat-x;
}

header > div {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}
header > div > .logo {
    float: left;
    margin-top: 46px;
}
header > div > p {
    float: right;
    color: #fff;
    margin-top: 46px;
}
header > div > p > span {
    margin-right: 16px;
}
header > div > p > a {
    color: #fff;
}

/* 메인 */
main {
    width: 1400px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
main > aside {
    float: left;
    width: 270px;
    height: auto;
    background: url('../img/admin_bg_aside.jpg') repeat-y;
    border-left: 1px solid #c0c0c0;
    box-sizing: border-box;
}

/* gnb */
#gnb {
    width: 100%;
    height: auto;
}
#gnb > li {
    width: 100%;
    min-height: 66px;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
}
#gnb > li:last-child {border-bottom: 1px solid #c0c0c0;}

#gnb > li > a {
    display: block;
    width: 100%;
    height: 66px;
    font-size: 14px;
    font-weight: bold;
    color: #222;            
    line-height: 66px;
    text-indent: 10px;
}
#gnb > li > a > i {
    margin-right: 10px;
    font-size: 20px;
}

#gnb ol {
    display: none;
    width: 100%;
    height: auto;
}
#gnb ol > li {
    width: 100%;
    height: 32px;
}
#gnb ol > li > a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: 52px;
}        
#gnb ol > li > a:hover{
	text-decoration:underline
}

/* 메인 */
main > section {
    float: right;
    width: 1130px;
    min-height: 600px;
    padding: 20px;
    box-sizing: border-box;
}

main > section > nav {
    position: relative;
    width: 100%;
    height: 46px;
    margin-bottom: 16px;
    border-bottom: 1px solid #c0c0c0;
    box-sizing: border-box;
}

main > section > nav > h3 {
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
main > section > nav > p {
    position: absolute;
    right: 0;
    bottom: 10px;
}
main > section > nav > p > strong {
    font-weight: bold;
}

main > section > article {
    overflow: hidden;
}

main > section > article section {
    margin-bottom: 16px;
}
main > section > article section > p {
    background: #eaeaea;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

main h4 {
    font-size: 15px;
    font-weight: bold;
}

main table {
    width: 100%;
    border-collapse: collapse;
}
main table tr {}
main table tr > td {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px;
    text-align: left;
}
main table tr > td:nth-child(1) {
    width: 160px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background: #f6f6f6;
    padding: 10px;    
    text-align: left;
}

main table span {
    display: block;
}

/*** admin::login (member::login css 그대로 사용) ***/
#member {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
#member > .login {
    width: 900px;
    height: auto;
    margin: 100px auto;
}
#member > .login > nav {
    border-bottom: 2px solid #0e6ad3;
}
#member > .login > nav > h1 {
    font-size: 24px;
    margin-bottom: 6px;
}
#member > .login > nav > p > strong {
    font-weight: bold;
}
#member > .login > nav > p {
    float: right;
    font-size: 11px;
    margin-top: -21px;
    color: #888;
}
#member > .login > form > input[type="submit"] {
    width: 97px;
    height: 71px;
    font-size: 0;
    border: none;
    float: right;
    margin-top: 10px;
    margin-bottom: 100px;
    background-image: url(../img/member_btn_login.gif);
}
#member > .login > form > table tr > td:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
}
#member > .login > form > table input {
    width: 200px;
    height: 31px;
    padding: 0 13px;
    font-size: 12px;
    font-weight: bold;
    color: #0075d4;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

/*  푸터 */
footer {
    width: 100%;
    height: 60px;
    background: #0d3a46;
}

footer > div {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

footer > div > p {
    padding-top: 22px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}

p.ico {
    width: 100%;
    height: 58px;
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    padding-left: 50px;
    line-height: 58px;
    box-sizing: border-box;
}
p.info    {border-color: #8497BF; background: #A8B2C5 url('../img/admin_ico_info.png') no-repeat scroll 15px 16px;}
p.success {border-color: #C6D881; background: #E6EFC2 url('../img/admin_ico_success.png') no-repeat scroll 15px 16px;}
p.alert   {border-color: #FDD845; background: #FFF6BF url('../img/admin_ico_alert.png') no-repeat scroll 15px 16px;}
p.error   {border-color: #FBC7C9; background: #FBE3E4 url('../img/admin_ico_error.png') no-repeat scroll 15px 16px;}

label {
    display: inline-block;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
}


input {
    width: 200px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;            
    background-color: #fefefe;
    color: #333;
    box-sizing: border-box;
}

input[type=checkbox] {
    width: auto;
    margin-right: 6px;
}

select {
    width: 150px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;            
    background-color: #fefefe;
    color: #333;
    box-sizing: border-box;
}

textarea {
    padding: 5px;
    border: 1px solid #959595;
    font-size: 13px;            
    background-color: #eaeaea;
    color: #333;
    box-sizing: border-box;
    resize: none;            
}



button {            
    border: 1px solid #959595;
    font-size: 12px;
    background: #a8b2c5;
    padding: 9px 15px;
    color: #fff;
    vertical-align: top;
}

button[type=submit] {
    float: right;
    height: 26px;
    margin-right: 246px;
    padding: 0 15px;
    background-color: #a8b2c5;            
    border: 1px solid #959595;
    font-size: 12px;            
    color: #fff;            
    vertical-align: middle;
}


/* admin-index */
#admin-index {}        

#admin-index > article {
    width: 100%;
    height: auto;
    overflow: hidden;
}
#admin-index > article > table {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
    border-collapse: collapse;
    border-top: 2px solid #8798a3;
}


#admin-index > article > table tr:first-child {
    background: #fafafa !important;
}
#admin-index > article > table tr > td {
    width: 20%;
    border: 1px solid #e5e5e5;
    padding: 6px 6px 6px 12px;
    color: #111;
    text-align: center;
}
#admin-index > article > table tr > td > strong {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}
#admin-index > article > table tr > td > span {
    display: block;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #bc2e13;
}

#admin-index > article > table tr > td > p {
    padding: 6px;            
    overflow: hidden;            
}
#admin-index > article > table tr > td > p > span {
    font-size: 14px;
}
#admin-index > article > table tr > td > p > span:nth-child(1) {
    float: left;
}
#admin-index > article > table tr > td > p > span:nth-child(2) {
    float: right;
}

#admin-index > div {
    width: 100%;
    height: auto;
    overflow: hidden;
}
#admin-index > div > div {
    width: 49%;
    height: auto;
}

#admin-index > div > div:nth-child(1) {float: left;}        
#admin-index > div > div:nth-child(2) {float: right;}        

#admin-index > div > div > article {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    border-top: 2px solid #8798a3;
    padding: 16px;
    box-sizing: border-box;            
}

#admin-index > div > div > article > p {            
    overflow: hidden;
}

#admin-index > div > div > article > p > span {
    line-height: 26px;
}

#admin-index > div > div > article > p > span:nth-child(1) {
    float: left;
    display: block;
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
}
#admin-index > div > div > article > p > span:nth-child(2) {
    float: right;
}



/* product-list */
#admin-faq {}
#admin-faq > section > div  {
    margin-bottom: 10px;
}

#admin-faq > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-faq > section > table  tr > th{
    padding: 10px 0;
    background: #f6f6f6;
}
#admin-faq > section > table  tr > td {
    background: #fff;
    text-align: center;
    box-sizing: border-box;
}
#admin-faq > section > table  tr > td:nth-child(1) {width: 20px;}
#admin-faq > section > table  tr > td:nth-child(2) {width: 80px;}
#admin-faq > section > table  tr > td:nth-child(3) {width: 80px;}
#admin-faq > section > table  tr > td:nth-child(4) {width: 80px;}
#admin-faq > section > table  tr > td:nth-child(5) {width: auto; text-align: left;}
#admin-faq > section > table  tr > td:nth-child(6) {width: 80px;}
#admin-faq > section > table  tr > td:nth-child(7) {width: 80px;}
#admin-faq > section > table  tr > td:nth-child(8) {width: 80px;}
#admin-faq > section > table  tr > td:nth-child(9) {width: 80px;}
#admin-faq > section > table  tr > td:nth-child(10) {width: 80px;}
#admin-faq > section > table  tr > td:nth-child(11) {width: 100px;}

#admin-faq > section > table img.thumb {width: 60px;}

#admin-faq > section > .delete {
    float: left;
    width: 100px;
    margin-top: 10px;
}

#admin-faq > section > .write {
	display: block;
    float: right;
    width: 100px;
    margin-top: 10px;
}

#admin-faq .paging {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

#admin-faq .paging > span > a {
    color: #777;
    font-family: "돋움", Dotum, Tahoma, sans-serif;
    font-size: 11px;
    letter-spacing: -1px;
}
  
#admin-faq .paging > span > a:hover {
    text-decoration: underline;
}
  
#admin-faq .paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-family: Tahoma;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
#admin-faq .paging > .num > a:hover {
    border: 1px solid #454c5f;
    text-decoration: none;
}
#admin-faq .paging > .num > a.on {
    color: #fe434c;
    font-weight: bold;
}

/* product-list */
#admin-product-list {}
#admin-product-list > section > div  {
    margin-bottom: 10px;
}

#admin-product-list > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-product-list > section > table  tr > th{
    padding: 10px 0;
    background: #f6f6f6;
}
#admin-product-list > section > table  tr > td {
    background: #fff;
    text-align: center;
    box-sizing: border-box;
}
#admin-product-list > section > table  tr > td:nth-child(1) {width: 20px;}
#admin-product-list > section > table  tr > td:nth-child(2) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(3) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(4) {width: auto; text-align: left;}
#admin-product-list > section > table  tr > td:nth-child(5) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(6) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(7) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(8) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(9) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(10) {width: 80px;}
#admin-product-list > section > table  tr > td:nth-child(11) {width: 100px;}

#admin-product-list > section > table img.thumb {width: 60px;}

#admin-product-list > section > .delete {
    float: left;
    width: 100px;
    margin-top: 10px;
}

#admin-product-list > section > .write {
    float: right;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    line-height: 30px;
    display: block;
    border: 1px solid #959595;
    text-align: center;
}

#admin-product-list .paging {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

#admin-product-list .paging > span > a {
    color: #777;
    font-family: "돋움", Dotum, Tahoma, sans-serif;
    font-size: 11px;
    letter-spacing: -1px;
}
  
#admin-product-list .paging > span > a:hover {
    text-decoration: underline;
}
  
#admin-product-list .paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-family: Tahoma;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
#admin-product-list .paging > .num > a:hover {
    border: 1px solid #454c5f;
    text-decoration: none;
}
#admin-product-list .paging > .num > a.on {
    color: #fe434c;
    font-weight: bold;
}

/* product-register */
#admin-product-register {}
#admin-product-register input[type=submit] {
    float: right;
    width: 100px;
}

/* product-register */
#admin-faq {}
#admin-faq input[type=submit] {
    float: right;
    width: 100px;
}

/* product-list */
#admin-faq {}
#admin-faq > section > div  {
    margin-bottom: 10px;
}

#admin-faq > section > table  {
    border-top: 2px solid #8798a3;
}
#admin-faq > section > table  tr > th{
    padding: 10px 0;
    background: #f6f6f6;
}
#admin-faq > section > table  tr > td {
    background: #fff;
    text-align: center;
    box-sizing: border-box;
}
#admin-faq > section > table  tr > td:nth-child(1) {width: 20px;}
#admin-faq > section > table  tr > td:nth-child(2) {width: 80px;}
#admin-faq > section > table  tr > td:nth-child(3) {width: 80px;}
#admin-faq > section > table  tr > td:nth-child(4) {width: 80px;}
#admin-faq > section > table  tr > td:nth-child(5) {width: auto; text-align: left;}
#admin-faq > section > table  tr > td:nth-child(6) {width: 80px;}
#admin-faq > section > table  tr > td:nth-child(7) {width: 80px;}
#admin-faq > section > table  tr > td:nth-child(8) {width: 80px;}
#admin-faq > section > table  tr > td:nth-child(9) {width: 80px;}
#admin-faq > section > table  tr > td:nth-child(10) {width: 80px;}
#admin-faq > section > table  tr > td:nth-child(11) {width: 100px;}

#admin-faq > section > table img.thumb {width: 60px;}

#admin-faq > section > .delete {
    float: left;
    width: 100px;
    margin-top: 10px;
}

#admin-faq > section > .write {
    float: right;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    line-height: 30px;
    display: block;
    border: 1px solid #959595;
    text-align: center;
}

#admin-faq .paging {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

#admin-faq .paging > span > a {
    color: #777;
    font-family: "돋움", Dotum, Tahoma, sans-serif;
    font-size: 11px;
    letter-spacing: -1px;
}
  
#admin-faq .paging > span > a:hover {
    text-decoration: underline;
}
  
#admin-faq .paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-family: Tahoma;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
#admin-faq .paging > .num > a:hover {
    border: 1px solid #454c5f;
    text-decoration: none;
}
#admin-faq .paging > .num > a.on {
    color: #fe434c;
    font-weight: bold;
}


/* notice 공통  */
#cs > .qna > nav {
    position: relative;
    width: 100%;
    height: 46px;
    margin-bottom: 16px;
    border-bottom: 1px solid #c0c0c0;
    box-sizing: border-box;
}

#cs > .qna > nav > h3 {
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
#cs > .qna > nav > p {
    position: absolute;
    right: 0;
    bottom: 10px;
}
#cs > .qna > nav > p > strong {
    font-weight: bold;
}

#cs > .notice > nav {
    position: relative;
    width: 100%;
    height: 46px;
    margin-bottom: 16px;
    border-bottom: 1px solid #c0c0c0;
    box-sizing: border-box;
}

#cs > .notice > nav > h3 {
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
#cs > .notice > nav > p {
    position: absolute;
    right: 0;
    bottom: 10px;
}
#cs > .notice > nav > p > strong {
    font-weight: bold;
}

#cs > .notice > section {
    position: relative;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
#cs > .notice > section > aside {
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    border-right: 1px solid #e9e9e9;
    box-sizing: border-box;
}
#cs > .notice > section > article {
    width: 980px;
    min-height: 600px;
}
#cs > .notice > section > aside > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 26px 0;
} 
#cs > .notice > section > aside > ul > li {
    margin-bottom: 16px;
}
#cs > .notice > section > aside > ul > li > a {
    font-size: 16px;
    font-weight: bold;
    color: #9e9e9e;
}
#cs > .notice > section > aside > ul > li > a:hover {
    color: #111;
    text-decoration: underline;
}
#cs > .notice > section > aside > ul > .on > a {
    color: #111;
    text-decoration: underline;
}
#cs > .notice > section > article {
    padding: 26px;
    box-sizing: border-box;
   
}

/*notice - 글보기*/
#cs > .notice > .view {}
#cs > .notice > .view > article > nav {
    width: 100%;
    height: auto;
    padding: 26px;
    border-top: 2px solid #111;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
}

#cs > .notice > .view > article > nav > .title {
    margin-bottom: 6px;
    font-size: 32px;
    font-weight: bold;
}
#cs > .notice > .view > article > nav > .date {
    font-size: 14px;
    color: #777;
}
#cs > .notice > .view > article > .content {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #e9e9e9;
    padding: 26px;
    box-sizing: border-box;
}
#cs > .notice > .view > article > .content * {
    font-size: 16px;
    line-height: 32px;
}
#cs > .notice > .view > article > .btnList {
	position: absolute;
    left: 380px;
}
#cs > .notice > .view > article > form > table {
	border-top: 2px solid #111;
}
#cs > .notice > .view > article > form > table tr > td:nth-child(1) {
	font-size: 15px;
    font-weight: bold;
    background: #fff;
    padding: 18px 0;
    padding-left: 16px;
}
 
#cs > .notice > .view > article > form > table tr > td:nth-child(2) > h2 {
	font-size: 15px;
}
#cs > .notice > .view > article > form > table tr > td:nth-child(2) > p {
	font-size: 15px;
}
#cs > .notice > .view > article > form {
	position: relative;
}
#cs > .notice > .view > article > form > div {
	float: right;
	position: absolute;
    right: 0px;
    padding-top: 40px;
}
#cs > .notice > .view .btnDelete {
	background-color: #dcdcdc;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #111;
    font-family: Arial;
    font-size: 14px;
    padding: 8px 31px;
    text-decoration: none;
    box-sizing: border-box;
}
#cs > .notice > .view .btnModify {
	background-color: #dcdcdc;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #111;
    font-family: Arial;
    font-size: 14px;
    padding: 8px 31px;
    text-decoration: none;
    box-sizing: border-box;
}
#cs > .notice > .view .btnList {
	background-color: #9BC9F0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #111;
    font-family: Arial;
    font-size: 14px;
    padding: 8px 31px;
    text-decoration: none;
    box-sizing: border-box;
}
/*** notice 글 쓰기 ***/
#cs > .notice > .write > article > form > table {
	border-top: 2px solid #111;
}
#cs > .notice > .write > article > form > table tr > td:nth-child(1) {
	font-size: 15px;
    font-weight: bold;
    background: #fff;
    padding: 18px 0;
    padding-left: 16px;
}
 
#cs > .notice > .write > article > form > table tr > td:nth-child(2) > h2 {
	font-size: 15px;
}
#cs > .notice > .write > article > form > table tr > td:nth-child(2) > p {
	font-size: 15px;
}
#cs > .notice > .write > article > form {
	position: relative;
}
#cs > .notice > .write > article > form > div {
	float: right;
	position: absolute;
	right: 34%;
    padding-top: 40px;
}
#cs > .notice > .write > article > form > table input {
    width: 600px;
}
#cs > .notice > .write > article > form > table textarea {
    width: 600px;
    height: 300px;;
}
#cs > .notice > .write .btnList {
	background-color: #dcdcdc;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #111;
    font-family: Arial;
    font-size: 14px;
    padding: 8px 31px;
    text-decoration: none;
    box-sizing: border-box;
}
#cs > .notice > .write .btnSubmit {
	background-color: #9BC9F0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #111;
    font-family: Arial;
    font-size: 14px;
    padding: 8px 31px;
    text-decoration: none;
    box-sizing: border-box;
    width: 112.43px;
}
/*** notice 수정 ***/
#cs > .notice > .modify > article > form > table {
	border-top: 2px solid #111;
}
#cs > .notice > .modify > article > form > table tr > td:nth-child(1) {
	font-size: 15px;
    font-weight: bold;
    background: #fff;
    padding: 18px 0;
    padding-left: 16px;
}
 
#cs > .notice > .modify > article > form > table tr > td:nth-child(2) > h2 {
	font-size: 15px;
}
#cs > .notice > .modify > article > form > table tr > td:nth-child(2) > p {
	font-size: 15px;
}
#cs > .notice > .modify > article > form {
	position: relative;
}
#cs > .notice > .modify > article > form > div {
	float: right;
	position: absolute;
	right: 34%;
    padding-top: 40px;
}
#cs > .notice > .modify > article > form > table input {
    width: 600px;
}
#cs > .notice > .modify > article > form > table textarea {
    width: 600px;
    height: 300px;;
}
#cs > .notice > .modify .btnList {
	background-color: #dcdcdc;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #111;
    font-family: Arial;
    font-size: 14px;
    padding: 8px 31px;
    text-decoration: none;
    box-sizing: border-box;
}
#cs > .notice > .modify .btnModify {
	background-color: #9BC9F0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #111;
    font-family: Arial;
    font-size: 14px;
    padding: 8px 31px;
    text-decoration: none;
    box-sizing: border-box;
    width: 112.43px;
}

/*** cs - qna 답변 ***/
#cs > .qna > .reply > article > form > table {
	border-top: 2px solid #111;
}
#cs > .qna > .reply > article > form > table tr > td:nth-child(1) {
	font-size: 15px;
    font-weight: bold;
    background: #fff;
    padding: 18px 0;
    padding-left: 16px;
}
 
#cs > .qna > .reply > article > form > table tr > td:nth-child(2) > h2 {
	font-size: 15px;
}
#cs > .qna > .reply > article > form > table tr > td:nth-child(2) > p {
	font-size: 15px;
}
#cs > .qna > .reply > article > form {
	position: relative;
}
#cs > .qna > .reply > article > form > div {
	float: right;
	position: absolute;
	right: 8%;
    padding-top: 40px;
}
#cs > .qna > .reply > article > form > table input {
    width: 600px;
}
#cs > .qna > .reply > article > form > table textarea {
    width: 600px;
    height: 150px;;
}
#cs > .qna > .reply .btnDelete {
	background-color: #dcdcdc;
    border: 1px solid #D2D2D2;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 14px;
    padding: 8px 31px;
    text-decoration: none;
    box-sizing: border-box;
}
#cs > .qna > .reply .btnList {
	background-color: #9BC9F0;
    border: 1px solid #D2D2D2;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 14px;
    padding: 8px 31px;
    text-decoration: none;
    box-sizing: border-box;
}
#cs > .qna > .reply .btnSubmit {
	background-color: #9BC9F0;
    border: 1px solid #D2D2D2;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 14px;
    text-decoration: none;
    box-sizing: border-box;
    width: 88.23px;
    height: 35.8px;
}

/*faq 공통*/
#cs > .faq {}
#cs > .faq > nav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
}
#cs > .faq > nav > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
#cs > .faq > nav p {
    float: left;
    margin-top: 16px;
    font-size: 16px;
}
#cs > .faq > nav p > span {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    color: #777;
} 
#cs > .faq > section {
    position: relative;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
#cs > .faq > section > aside {
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    border-right: 1px solid #e9e9e9;
    box-sizing: border-box;
}
#cs > .faq > section > aside > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 26px 0;
}
#cs > .faq > section > aside > ul {}
#cs > .faq > section > aside > ul > li {
    margin-bottom: 16px;
}
#cs > .faq > section > aside > ul > li > a {
    font-size: 16px;
    font-weight: bold;
    color: #9e9e9e;
}
#cs > .faq > section > aside > ul > li > a:hover {
    color: #111;
    text-decoration: underline;
}
#cs > .faq > section > aside > ul > .on > a {
    color: #111;
    text-decoration: underline;
}
#cs > .faq > section > article {
    float: right;
    width: 980px;
    min-height: 600px;
    padding: 26px;
    box-sizing: border-box;
}

/*faq - 글보기*/
#cs > .faq > nav > h3 {
	font-size: 20px;
	
}

#cs > .faq > .view {}
#cs > .faq > .view > article > nav {
    width: 100%;
    height: auto;
    padding: 26px;
    border-top: 2px solid #111;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
}

#cs > .faq > .view > article > nav > .title {
    margin-bottom: 6px;
    font-size: 32px;
    font-weight: bold;
}
#cs > .faq > .view > article > nav > .date {
    font-size: 14px;
    color: #777;
}
#cs > .faq > .view > article > .content {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #e9e9e9;
    padding: 26px;
    box-sizing: border-box;
}
#cs > .faq > .view > article > .content * {
    font-size: 16px;
    line-height: 32px;
}
#cs > .faq > .view > article > .btnList {
	position: absolute;
    left: 380px;
}
#cs > .faq > .view > article > form > table {
	border-top: 2px solid #111;
}
#cs > .faq > .view > article > form > table tr > td:nth-child(1) {
	font-size: 15px;
    font-weight: bold;
    background: #fff;
    padding: 18px 0;
    padding-left: 16px;
}
 
#cs > .faq > .view > article > form > table tr > td:nth-child(2) > h2 {
	font-size: 15px;
}
#cs > .faq > .view > article > form > table tr > td:nth-child(2) > p {
	font-size: 15px;
}
#cs > .faq > .view > article > form {
	position: relative;
}
#cs > .faq > .view > article > form > div {
	float: right;
	position: absolute;
    right: 0px;
    padding-top: 40px;
}
#cs > .faq > .view .btnDelete {
	background-color: #dcdcdc;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #111;
    font-family: Arial;
    font-size: 14px;
    padding: 8px 31px;
    text-decoration: none;
    box-sizing: border-box;
}
#cs > .faq > .view .btnModify {
	background-color: #dcdcdc;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #111;
    font-family: Arial;
    font-size: 14px;
    padding: 8px 31px;
    text-decoration: none;
    box-sizing: border-box;
}
#cs > .faq > .view .btnList {
	background-color: #9BC9F0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #111;
    font-family: Arial;
    font-size: 14px;
    padding: 8px 31px;
    text-decoration: none;
    box-sizing: border-box;
}

/*qna - 공통*/
 #cs > .qna {}
 #cs > .qna > nav {
     width: 100%;
     height: 60px;
     border-bottom: 1px solid #e9e9e9;
     box-sizing: border-box;
 }
 #cs > .qna > nav > div {
     width: 1200px;
     height: 100%;
     margin: 0 auto;
 }
 #cs > .qna > nav p {
     float: left;
     margin-top: 16px;
     font-size: 16px;
 }
 #cs > .qna > nav p > span {
     font-size: 12px;
     margin-left: 10px;
     margin-right: 10px;
     color: #777;
 }

 #cs > .qna > section > aside {
     position: absolute;
     left: 0;
     top: 0;
     width: 220px;
     height: 100%;
     border-right: 1px solid #e9e9e9;
     box-sizing: border-box;
 }
 
 #cs > .qna > section > aside > h2 {
     font-size: 24px;
     font-weight: bold;
     margin: 26px 0;
 }
 #cs > .qna > section > aside > ul {}
 #cs > .qna > section > aside > ul > li {
     margin-bottom: 16px;
 }
 #cs > .qna > section > aside > ul > li > a {
     font-size: 16px;
     font-weight: bold;
     color: #9e9e9e;
 }
 #cs > .qna > section > aside > ul > li > a:hover {
     color: #111;
     text-decoration: underline;
 }
 #cs > .qna > section > aside > ul > .on > a {
     color: #111;
     text-decoration: underline;
 }
 #cs > .qna > section > article {
     width: 910px;
     min-height: 600px;
     padding: 26px;
     box-sizing: border-box;
 }
 /*qna - 리스트*/
 #cs > .qna > .list > article > table {
     width: 100%;
     border-collapse: collapse;
     border-top: 2px solid #111;
 }
 #cs > .qna > .list > article > table tr {
     width: 100%;
     height: 26px;
 }
 #cs > .qna > .list > article > table tr:hover {
     background-color: #f7f7f7;
 }
 #cs > .qna > .list > article > table td {
     padding: 16px;
     border-bottom: 1px solid #ccc;
 }
 #cs > .qna > .list > article > table td:last-child {
     text-align: center;
     font-size: 14px;
 }
 #cs > .qna > .list > article > table a {
     font-size: 16px;
 }
 #cs > .qna > .list > article > .page {
     text-align: center;
     margin-top: 26px;
 }
 #cs > .qna > .list > article > .page > a {
     display: inline-block;
     width: 34px;
     height: 34px;
     box-sizing: border-box;
     text-align: center;
     line-height: 34px;
     font-size: 13px;
     font-weight: bold;
     vertical-align: bottom;
 }
 #cs > .qna > .list > article > .page > .prev {
     font-size: 0;
     background-image: url('../img/cs_sprites.png');
     background-position: -706px -652px;
 }
 #cs > .qna > .list > article > .page > .next {
     font-size: 0;
     background-image: url('../img/cs_sprites.png');
     background-position: -628px -652px;
 }
 #cs > .qna > .list > article > .page > .num {}
 #cs > .qna > .list > article > .page > .on {
     background: #006cff;
     border-radius: 17px;
     color: #fff;
 }
 
 /*qna - 글보기*/
 #cs > .qna > .view {}
 #cs > .qna > .view > article {}
 #cs > .qna > .view > article > nav {
     width: 100%;
     height: auto;
     padding: 26px;
     border-top: 2px solid #111;
     border-bottom: 1px solid #e9e9e9;
     box-sizing: border-box;
 }
 #cs > .qna > .view > article > nav > .title {
     margin-bottom: 6px;
     font-size: 32px;
     font-weight: bold;
 }
 #cs > .qna > .view > article > nav > .date {
     font-size: 14px;
     color: #777;
 }
 #cs > .qna > .view > article > .content {
     width: 100%;
     height: 100%;
     border-bottom: 1px solid #e9e9e9;
     padding: 26px;
     box-sizing: border-box;
 }
 #cs > .qna > .view > article > .content * {
     font-size: 16px;
     line-height: 32px;
 }

/*qna - 글쓰기*/
 #cs > .qna > .write > article table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #111;
}
#cs > .qna > .write > article table tr {
    width: 100%;
    height: 26px;
}
#cs > .qna > .write > article table td {
    padding: 16px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}
#cs > .qna > .write > article table td:first-child {
    width: 100px;
}
#cs > .qna > .write > article table input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
    text-indent: 10px;
}
#cs > .qna > .write > article table select {
    width: 160px;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
}
#cs > .qna > .write > article table select * {
    font-size: inherit;
}
#cs > .qna > .write > article table textarea {
    width: 100%;
    height: 280px;
    resize: none;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
}
